<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
      matInput
      placeholder="Email"
      ngModel
      name="email"
      required
      email
      #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">
        Email should not be empty
      </mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">
        Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      type="password"
      placeholder="Password"
      matInput
      required
      ngModel
      name="password"
      #pwInput="ngModel"
      minlength="6">
      <mat-error>Password should have 6 characters min</mat-error>
      <mat-hint>{{pwInput.value?.length || 0}}/6</mat-hint>
    </mat-form-field>
    <button 
    *ngIf="!(isLoading$ | async)"
    mat-raised-button 
    type="submit"
    color="primary"
    [disabled]="f.invalid">Login</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
