<section class="new-training" fxLayout fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)" >
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">
        Time to start something
      </mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoadingState$ | async) && exercises$ | async">
          <mat-select placeholder="Favorite Exercise" required ngModel name="exercise">
            <mat-option *ngFor="let exercise of exercises$ | async" [value]="exercise.id">
              {{exercise.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="(isLoadingState$ | async)"></mat-spinner>
      </mat-card-content>
      <mat-card-actions *ngIf="!(isLoadingState$ | async)" fxLayoutAlign="center">
        <button *ngIf="exercises$ | async" mat-button color="primary" [disabled]="f.invalid" type="submit">Start</button>
        <button *ngIf="!(exercises$ | async)" mat-button color="primary" (click)="fetchExercises()" >Fetch Again</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
