<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">FITNESS</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">

    <ul fxHide.xs fxLayout class="navigation-items" fxLayoutGap="10px">
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/signup">Signup</a>
      </li>
      <li *ngIf="!(isAuth$ | async)">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/training">Training</a>
      </li>
      <li *ngIf="isAuth$ | async">
        <a routerLink="/training" (click)="onLogout()">Logout</a>
      </li>
    </ul>

  </div>
</mat-toolbar>
