<section class="signup-form">
  <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email"
      matInput
      placeholder="Email"
      ngModel
      name="email"
      required
      #emailInput="ngModel"
      email>
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be 6 characters min">
      <input type="password"
      matInput
      placeholder="Password"
      ngModel
      name="password"
      required
      minlength="6"
      #pwInput="ngModel">
      <mat-hint align="end">{{pwInput.value?.length}} /6</mat-hint>
      <mat-error>Has to be at least 6 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput 
      placeholder="Your BirthDate"
      [matDatepicker]="picker"
      [max]= "maxDate"
      ngModel
      name="datepicker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      <mat-checkbox
      ngModel
      name="agree" 
      required
      color="primary">Agree to Terms and Conditions</mat-checkbox>
    <button *ngIf="!(isLoading$ | async)" type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Submit</button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</section>
